# Global Variable
## Fib using a global variable

In [0]:
def fib(x):
  """Assumes x an int >= 0
    Returns Fibonacci of x"""
  global numFibCalls
  numFibCalls += 1
  if x== 0 or x == 1:
    return 1
  else:
    return fib(x-1) + fib(x-2)
  
def testFib(n):
  for i in range(n+1):
    global numFibCalls
    numFibCalls = 0
    print('fib of', i, '=', fib(i))
    print('fib called', numFibCalls, 'times.')

# numFibCalls = 0
testFib(5)

# Modules

In [0]:
!rm data690mod.py

In [0]:
!ls

Note: *!rm* and *!ls* are called magic commands within Jupyter.
For more information on magic commands, refer to the [iPython documentation](https://ipython.readthedocs.io/en/stable/interactive/magics.html).

In [0]:
%%writefile data690mod.py

def myFunction1():
    print ('Hello DATA 690. I am in myFunction()')

print(f"I will be printed only the first time module {__name__} is imported")

In [0]:
!ls

In [0]:
!cat data690mod.py

In [0]:
import data690mod

# Files

## Wring to a file

In [0]:
# f = open('mytestfile.txt', 'w')
#f.write('This is a test data')
f.flush()

In [0]:
!ls

In [0]:
!cat mytestfile.txt

In [0]:
f.close()

In [0]:
f.closed

## Reading from a file

In [0]:
fr = open('mytestfile.txt', 'r')

In [0]:
print(fr.read())

In [0]:
fr.close()

In [0]:
fr = open('mytestfile.txt', 'r')
fr.write('This will fail')

In [0]:
fr.close()

### *with* statement

In [0]:
with open('mytestfile.txt') as f:
  read_data = f.read()
  print("File contains ", read_data)
  
f.closed

## Multi-line

In [0]:
line1 = "First line\n"
line2 = "Second line\n"
line3 = "Third line\n"
with open('multilinefile', 'w') as mf:
  mf.writelines([line1, line2, line3])

In [0]:
mf = open('multilinefile', 'r')

for l in mf:
  print(l)

In [0]:
mf.close()

## Append

In [0]:
line1 = "First line\n"
line2 = "Second line\n"
line3 = "Third line\n"
with open('multilinefile', 'w') as mf:
  mf.writelines([line1, line2, line3])

In [0]:
af = open('multilinefile', 'a')
af.write('\nappending to the file')
af.close()

In [0]:
%cat multilinefile

In [0]:
%rm multilinefile

# Equality

In [0]:
var1 = 'This is a test'
var2 = 'This is a test'
print("var1 == var2", var1 == var2)
print("var1 is var2", var1 is var2)
print("id(var1) == id(var2)", id(var1) == id(var2))

In [0]:
id(var1)

In [0]:
id(var2)

# Aliasing

In [0]:
var1 = [1, 2, "three", 4, 5]
var2 = var1
var2[2] = 3
print("var1:", var1)
print("var2:", var2)

In [0]:
var1 is var2

# Size Matters

In [0]:
import sys
range1 = range(0, 4, 1)
list1 = [0,1,2,3]
print(sys.getsizeof(range1), sys.getsizeof(list1))

In [0]:
range2 = range(0, 1000000, 1)
list2 = [0, 1, 2, 3, 4, 5, 6, 7, 8]
print(sys.getsizeof(range2), sys.getsizeof(list2))

# Cloning

In [0]:
def removeDups(L1, L2):
  """Assumes that L1 and L2 are lists.
      Removes any element from L1 that also occurs in L2"""
  for e1 in L1:
    for e1 in L2:
      L1.remove(e1)

L1 = [1, 2, 3, 4]
L2 = [1, 2, 5, 6]
removeDups(L1, L2)
print('L1 = ', L1)

In [0]:
def removeDupsNew(L1, L2):
  """Assumes that L1 and L2 are lists.
      Removes any element from L1 that also occurs in L2"""
  for e1 in L1:
    for e1 in L2:
      try: 
        L1.remove(e1)
      except ValueError:
        pass  # do nothing!
      
L1 = [1, 2, 3, 4]
L2 = [1, 2, 5, 6]
removeDupsNew(L1, L2)
print('L1 = ', L1)

In [0]:
L1 = [1, 2, 3, 4]
L2 = L1
L3 = list(L1)

print("L1 is L2", L1 is L2)
print("L1 is L3", L1 is L3)

L2[0] = 999
L3[1] = 12345678
print("L1", L1)

# Functinons as Objects/High-Order Functions

In [0]:
def applyToEach(L, f):
  """Assumes L is a list, f a function
    Mutates L by replacing each element, e, of L by f(e)"""
  for i in range(len(L)):
    L[i] = f(L[i])

L = [1, -2, 3.333]
print('L = ', L)
print('Apply abs to each element of L.')
applyToEach(L, abs)
print('L = ', L)

L =  [1, -2, 3.333]
Apply abs to each element of L.
L =  [1, 2, 3.333]

## map() function

In [0]:
def squared(number):
  return number ** 2

for i in map(squared, [2, 6, 4]):
  print(i)

4
36
16

## Lambda Expression

In [0]:
for i in map(lambda x: x**2, [2, 6, 4]):
  print(i)

4
36
16

In [0]:
for i in map(lambda x, y:x*y, [2, 6, 4], [10, 100, 1000]):
  print(i)

20
600
4000